<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通讯录</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" >
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}" >
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" >
    <script th:src="@{/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-table.js}"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/xman/index">通讯录</a>
        <a id="menu-btn" class="navbar-brand visible-xs" style="float: right;">
        </a>
    </div>

    <div id="menu" class="hidden-xs">
        <ul class="nav navbar-nav">
            <li class="active">
                <a >添加通讯录</a>
            </li>
        </ul>
    </div>
</nav>
<div id="wrap">
    <div class="row">
        <div class="col-md-2 hidden-xs" id="left-side">
            <ul class="list-unstyled sidebar">
                <li onclick="change('2')"><a href="javascript:void(0);">添加通讯录</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="right-side">

            <div>
                <form id="addAddress">
                    <table class="table table-condensed table-hover" width="100%" border="1" id="addTable"
                           >

                        <thead>
                        <th colspan="4" align="center">添加通讯录</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2" align="right">姓名</td>
                            <td colspan="2" align="left">
                                <input type="text" id="name" name="name"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">工作单位</td>
                            <td colspan="2" align="left">
                                <input type="text" id="unit" name="unit"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">电话号码1</td>
                            <td colspan="2" align="left">
                                <input type="text" id="telephone" name="telephone"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">电话号码2</td>
                            <td colspan="2" align="left">
                                <input type="text" id="telephone2" name="telephone2"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">电子邮箱</td>
                            <td colspan="2" align="left">
                                <input type="text" id="email" name="email"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">自定义分组</td>
                            <td colspan="2" align="left">
                                <input type="hidden" id="grouptype"  name="grouptype"/>
                                <select onclick="changeGrouptype(this)">
                                    <div th:each="emp ,infoStat : ${groupList}" >
                                        <option  th:value="${emp.grouptype}" th:text="${emp.groupName}"></option>
                                    </div>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="4">
                                <input onclick="addAddr()" type="button" value="添加"></input>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
<script>
    function change(obj) {
        if (obj == "1") {
            $("#showTable").show();
            $("#addTable").hide();
        }
        if (obj == "2") {
            $("#addTable").show();
            $("#showTable").hide();
        }
    }

    function addAddr() {
        var name = $("#name").val() || "";
        var unit = $("#unit").val() || "";
        var telephone = $("#telephone").val() || "";
        var telephone2 = $("#telephone2").val() || "";
        var email = $("#email").val() || "";
        var grouptype = $("#grouptype").val() || "";

        if (name == "") {
            alert("请填写姓名!");
            $("#addTable").show();
            $("#showTable").hide();
            return ;
        }
        if (unit == "") {
            alert("请填写工作单位!");
            return false;
        }
        if (telephone == "") {
            alert("请填写电话号码1!");
            return false;
        }
        if (telephone2 == "") {
            alert("请填写电话号码2!");
            return false;
        }
        if (email == "") {
            alert("请填写电子邮箱!");
            return false;
        }
        if (grouptype == "") {
            alert("请填写分组!");
            return false;
        }
        $.ajax(
            {
                type: "post",
                url: "/xman/addAddress",
                data: {
                    name: name,
                    unit: unit,
                    telephone: telephone,
                    telephone2: telephone2,
                    email: email,
                    grouptype: grouptype
                },
                dateType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        alert("新增成功!");
                        goUrl("/xman/index");
                    }else{
                        alert("新增失败!!!");
                    }
                }
            }
        )
    }

    function delete1(obj) {
        var id = $(obj).attr("value");
        //改成ajax 获取!
        $.ajax(
            {
                type: "post",
                url: "/xman/delAddress",
                data: {
                    id: id
                },
                dateType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        alert("删除成功!");
                        getAddressData();
                    }
                }
            }
        )

    }
    function getAddressData(){
        $.ajax(
            {
                type: "post",
                url: "/xman/getAddressData",
                data: {

                },
                dateType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        var dataJson  = JSON.parse(data.addressesList);
                        var htmlShow="";
                        $.each(dataJson,function (i,item) {

                            htmlShow+="<tr>";
                            htmlShow+="<td>"+item.name+"</td>";
                            htmlShow+="<td>"+item.unit+"</td>";
                            htmlShow+="<td>"+item.telephone+"</td>";
                            htmlShow+="<td>"+item.telephone2+"</td>";
                            htmlShow+="<td>"+item.email+"</td>";
                            htmlShow+="<td>"+item.grouptype+"</td>";

                            htmlShow+=" <td>\n" +
                                "                                <button th:value=\""+item.id+"\" onclick=\"eidt(this)\">\n" +
                                "                                    修改\n" +
                                "                                </button>\n" +
                                "                                <button th:value=\""+item.id+"\" onclick=\"delete1(this)\">\n" +
                                "                                    删除\n" +
                                "                                </button>\n" +
                                "                            </td>";

                            htmlShow+="</tr>";
                        });
                        $("#showTbody").html(htmlShow);
                        alert("成功!");
                    }
                }
            }
        )
    }

    function eidt(obj) {
        var id = $(obj).attr("value");
        alert(id);
    }
    function goUrl(url) {
        window.location=url;
    }
    function changeGrouptype(obj) {
        $("#grouptype").val($(obj).val());
    }
</script>
</html>