<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通讯录</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-table.js"></script>

</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/xman/index">通讯录</a>
        <a id="menu-btn" class="navbar-brand visible-xs" style="float: right;">
        </a>
    </div>

    <div id="menu" class="hidden-xs">
        <ul class="nav navbar-nav">
            <li class="active">
                <a>通讯录</a>
            </li>
            <li>
                <a href="/xman/toAddressAdd">添加通信录</a>
            </li>
            <li>
                <a>建议</a>
            </li>
        </ul>
    </div>


    <div style="padding-right:100px" class="hidden-xs">
        <form class="navbar-form navbar-right" role="search" id="search">
            <div class="form-grouptype">
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <input type="button" class="btn btn-default" value="查找"></input>
        </form>
    </div>
</nav>
<div id="wrap">
    <div class="row">
        <div class="col-md-2 hidden-xs" id="left-side">
            <ul class="list-unstyled sidebar">
                <li class="active" onclick="change('1')" style="width: 100%"><a href="javascript:void(0);">通讯录数据</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="right-side">

            <!--姓名、工作单位、电话号码1、电话号码2、电子邮箱、自定义分组；-->
            <div>
                    <table class="table table-condensed table-hover" id="showTable">
                        <thead>
                        <tr>
                            <th data-field="id">序号</th>
                            <th data-field="name">姓名</th>
                            <th data-field="unit">工作单位</th>
                            <th data-field="telephone">电话号码1</th>
                            <th data-field="telephone2">电话号码2</th>
                            <th data-field="email">电子邮箱</th>
                            <th data-field="grouptype">自定义分组</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="showTbody">
                        <tr th:each="emp ,infoStat : ${addressesList}">
                            <td th:text="${infoStat.index}">李煚虎</td>
                            <td th:text="${emp.name}">李煚虎</td>
                            <td th:text="${emp.unit}">18621532902</td>
                            <td th:text="${emp.telephone}">18621532902</td>
                            <td th:text="${emp.telephone2}">18621532902</td>
                            <td th:text="${emp.email}">18621532902</td>
                            <td th:text="${emp.grouptype}">18621532902</td>
                            <td>
                                <input type="button" th:addrid="${emp.id}" onclick="eidt(this)" value="修改" />
                                <input type="button" th:addrid="${emp.id}" onclick="delete1(this)" value="删除" />
                            </td>
                        </tr>
                        </tbody>
                    </table>
            </div>

        </div>
    </div>
</div>

</body>
<script>
    function change(obj) {
        if (obj == "1") {
            $("#showTable").show();
            $("#addTable").hide();
        }
        if (obj == "2") {
            $("#addTable").show();
            $("#showTable").hide();
        }
    }

    function addAddr() {
        var name = $("#name").val() || "";
        var unit = $("#unit").val() || "";
        var telephone = $("#telephone").val() || "";
        var telephone2 = $("#telephone2").val() || "";
        var email = $("#email").val() || "";
        var grouptype = $("#grouptype").val() || "";

        if (name == "") {
            alert("请填写姓名!");
            $("#addTable").show();
            $("#showTable").hide();
            return false;
        }
        if (unit == "") {
            alert("请填写工作单位!");
            return false;
        }
        if (telephone == "") {
            alert("请填写电话号码1!");
            return false;
        }
        if (telephone2 == "") {
            alert("请填写电话号码2!");
            return false;
        }
        if (email == "") {
            alert("请填写电子邮箱!");
            return false;
        }
        if (grouptype == "") {
            alert("请填写分组!");
            return false;
        }
        $("#addAddress").attr("action", "/xman/addAddress");
        $("#addAddress").submit();
    }

    function delete1(obj) {
        var id = $(obj).attr("addrid");
        //改成ajax 获取!
        $.ajax(
            {
                type: "post",
                url: "/xman/delAddress",
                data: {
                    id: id
                },
                dateType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        //alert("删除成功!");

                    }else{
                        alert("删除失败!");
                    }
                    getAddressData();
                }
            }
        )

    }
    function getAddressData(){
        $.ajax(
            {
                type: "post",
                url: "/xman/getAddressData",
                data: {

                },
                dateType: "json",
                success: function (data) {
                    if (data.result == "success") {
                        var dataJson  = JSON.parse(data.addressesList);
                        var htmlShow="";
                        debugger;
                        $.each(dataJson,function (i,item) {

                            htmlShow+="<tr>";
                            htmlShow+="<td>"+i+"</td>";
                            htmlShow+="<td>"+item.name+"</td>";
                            htmlShow+="<td>"+item.unit+"</td>";
                            htmlShow+="<td>"+item.telephone+"</td>";
                            htmlShow+="<td>"+item.telephone2+"</td>";
                            htmlShow+="<td>"+item.email+"</td>";
                            htmlShow+="<td>"+item.grouptype+"</td>";
                            htmlShow+=" <td>\n" +
                                "                                <input type='button' value='修改' addrid=\""+item.id+"\" onclick=\"eidt(this)\" />\n"
                                +
                                "                                <input type='button' value='删除' addrid=\""+item.id+"\" onclick=\"delete1(this)\" >\n" +
                                "                            </td>";

                            htmlShow+="</tr>";
                        });
                        $("#showTbody").html(htmlShow);
                    }else{
                        $("#showTbody").html("");
                    }
                }
            }
        )
    }

    function eidt(obj) {
        var id = $(obj).attr("addrid");
        debugger;
       /* $("#search").attr("action", "/xman/editAddress?id"+id);
        $("#search").submit();*/
       var url="/xman/toEditAddress?id="+id;
       // window.open(url)
        window.location.href=url;
    }
</script>
</html>